.wrapper {
    background: rgb(255, 249, 255);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 30px
}

.wrapper input,
.wrapper textarea,
.wrapper select,
.wrapper option {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: transparent;
    width: 100%;
}

.wrapper form label {
    color: rgb(75, 75, 75);
    font-size: 95%;
}


.wrapper textarea {
    min-height: 100px;
    /* resize: none; */
}

.wrapper form .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
}

.wrapper form .flex .btn {
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--btn);
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    color: white;
    /* width: 45%; */
}

.wrapper form .flex .btn:nth-child(2) {
    background-color: var(--redBtn);
    color: white
}

.items .item {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 5px 0;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
}

.items {
    margin: 10px 0;
    display: block;

}