.wrapper {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
    max-width: 400px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.wrapper input,
.wrapper textarea,
.wrapper select,
.wrapper option {
    padding: 9px;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    border: 1px solid lightgrey;
    ;
}

.wrapper form label {
    color: rgb(59, 59, 59);
    font-size: 95%;
}


.wrapper textarea {
    min-height: 100px;
    resize: none;
}

.wrapper form .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
}

.wrapper form .flex .btn {
    border: 1px solid lightgrey;
    padding: 9px;
    /* border-radius: 5px; */
    background-color: var(--btn);
    /* min-width: 100px; */
    text-align: center;
    cursor: pointer;
    color: white;
    width: 100%;
}

.wrapper form .flex .btn:nth-child(2) {
    background-color: var(--redBtn);
    color: white;
    border-radius: 0px 5px 5px 0;
}

.items .item {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 5px 0;
    margin-right: 5px;
    cursor: pointer;
    display: inline-block;
}

.items {
    margin: 10px 0;
    display: block;

}