.wrapper {
    padding: 70px 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    color: aliceblue;
    z-index: 3;
    gap: 15px;
}

.add {
    padding: 5px 9px;
    border-radius: 5px;
    background-color: var(--btn);
    color: white;
    font-weight: bold;
    min-width: 120px;
}

.wrapper .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}


.wrapper .flex .item {
    border: 1px solid aqua;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

}

.wrapper .flex .item img {
    border-radius: 50%;
    border: 1px solid purple;
    overflow: hidden;
}

.wrapper .item .name {

    font-weight: bold;
    margin: 10px 0
}