.wrapper {
    padding: 70px 25px;
}

.wrapper .flex {
    display: flex;
    justify-content: space-between;
}


.wrapper .flex .new {
    cursor: pointer;
    background-color: green;
    padding: 3px 7px
}

.tableContainer {
    /* border: 1px solid lightgrey */
    overflow-x: scroll;
}

.tableContainer::-webkit-scrollbar {
    height: 0
}

.tableContainer table {
    border: 1px solid lightgrey;
    width: 100%;
    text-align: left;
    margin: 30px 0;
    min-width: 400px
}

.tableContainer table th {
    text-align: center;
    border: 1px solid lightgrey;
    background-color: var(--purple);
    padding: 7px;
}

.tableContainer table td {
    padding: 5px;
    border: 1px solid lightgrey
}


.tableContainer table td .btn span {
    border: 1px solid lightgrey;
    margin: 5px;
    padding: 3px 7px;
    border-radius: 15px;
    background: green;
    color: wheat;
    cursor: pointer;
}

.tableContainer table td .btn span:nth-child(2) {
    background: red
}

@media (max-width:570px) {
    .wrapper {
        padding: 60px 10px;
    }

    .wrapper table {
        margin: 15px 0
    }
}