.wrapper {
    padding: 50px 25px;
}

.wrapper .space {
    display: flex;
    justify-content: space-between;
}

.wrapper .new {
    background: green;
    padding: 3px 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 120%
}

.wrapper .icons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.wrapper .flex {
    margin: 10px 0
}

.wrapper .item {
    padding: 10px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    border-radius: 5px;
    background-color: skyblue;
}

.wrapper .item:hover {
    border: 1px solid black
}

@media (max-width: 570px) {
    .wrapper {
        padding: 30px 10px;
    }

}